<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ETDApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
				<key>dateExpires</key>
				<string>2021/5/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RollingNotice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WebViewJavascriptBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XSAdditions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZYBannerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A451C3E894251E9053E7A988D81026F9868C2FA4</string>
						<key>dateExpires</key>
						<string>2021/5/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>H5X7N9XNRV.com.stateunion.p2p.etongdai.a.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>H5X7N9XNRV</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>H5X7N9XNRV.com.stateunion.p2p.etongdai.a.NotificationService</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b10833ec-64d7-4b3e-a907-9d8b003babc2</string>
						<key>name</key>
						<string>iOS Team Inhouse Provisioning Profile: com.stateunion.p2p.etongdai.a.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5X7N9XNRV</string>
						<key>name</key>
						<string>Beijing Deku Tree Technology Co. Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H5X7N9XNRV.com.stateunion.p2p.etongdai.a</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H5X7N9XNRV</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>H5X7N9XNRV.com.stateunion.p2p.etongdai.a</string>
				</array>
			</dict>
			<key>name</key>
			<string>ETDApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>96f8b817-b89e-4b9e-b4be-ba636b9e8a49</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.stateunion.p2p.etongdai.a</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H5X7N9XNRV</string>
				<key>name</key>
				<string>Beijing Deku Tree Technology Co. Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
